@model MyBlog.App.ViewModels.Posts.PostEditViewModel
@{
    ViewData["Title"] = "Редактирование статьи";
}

<style>
    .wrapper {
        display: flex;
    }

    input, textarea {
        margin-left: 5px;
    }

    textarea{
        resize: none;
    }

    .warning {
        color: red;
        font-size: 12px;
        margin-left: 10px;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js"></script>

<div>
    <h1>Редактирование статьи "@Model.Title"</h1>

    <form method="post" asp-controller="Post" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="warning"></div>

        <div class="wrapper">
            <label asp-for="Title"></label>
            <input asp-for="Title" value="@Model.Title"/>
            <span asp-validation-for="Title" class="warning"></span>
        </div>

        <div class="wrapper">
            <label asp-for="Content"></label>
            <textarea asp-for="Content" rows="4" cols="80" >@Model.Content</textarea>
            <span asp-validation-for="Content" class="warning"></span>
        </div>

        <button type="submit">Сохранить</button>
    </form>
</div>