@model MyBlog.App.ViewModels.Comments.CommentCreateViewModel
@{
    ViewData["Title"] = "Создание комментария";
}

<style>
    .wrapper {
        display: flex;
    }

    input, textarea {
        margin-left: 5px;
    }

    textarea{
        resize: none;
    }

    .warning {
        color: red;
        font-size: 12px;
        margin-left: 10px;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js"></script>

<div>
    <h1>Создание комментария</h1>

    <form method="post" asp-controller="Comment" asp-action="PostCreate">
        <div asp-validation-summary="ModelOnly" class="warning"></div>

        <div class="wrapper">
            <label asp-for="PostId"></label>
            <input asp-for="PostId" />
            <span asp-validation-for="PostId" class="warning"></span>
        </div>

        <div class="wrapper">
            <label asp-for="UserId"></label>
            <input asp-for="UserId" />
            <span asp-validation-for="UserId" class="warning"></span>
        </div>

        <div class="wrapper">
            <label asp-for="Text"></label>
            <textarea asp-for="Text" rows="4" cols="80"></textarea>
            <span asp-validation-for="Text" class="warning"></span>
        </div>

        <button type="submit">Создать</button>
    </form>
</div>