@model MyBlog.App.ViewModels.Comments.Response.CommentEditViewModel
@{
    ViewData["Title"] = "Редактирование комментария";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js"></script>


<div class="max-width-600 m-auto">
    <form class="mt-5" method="post" asp-controller="Comment" asp-action="Edit">
        <h3>Редактирование комментария</h3>
        <hr class="hr" />
        <div asp-validation-summary="ModelOnly" class="text-danger fs-6"></div>

        <input type="hidden" asp-for="UserId" value="@Model.UserId" />
        <input type="hidden" asp-for="ReturnUrl" value="@($"{Context.Request.Query["returnUrl"]}")" />

        <div class="form-group mb-4 position-relative">
            <label asp-for="Text" class="form-label"></label>
            <textarea class="form-control no-resize" asp-for="Text" rows="5"></textarea>
            <span asp-validation-for="Text" class="text-danger error-message"></span>
        </div>

        <button type="submit" class="btn btn-primary mb-2">Сохранить</button>
        <p class="form-text"><a asp-action="Index" asp-controller="Home" class="text-decoration-none"
            asp-route-returnUrl="@($"{Context.Request.Query["returnUrl"]}")">
            Выйти без сохранения
        </a></p>
    </form>
</div>
