@using Microsoft.AspNetCore.Identity;
@using MyBlog.Data.DBModels.Users;
@inject SignInManager<User> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <form method="post" asp-controller="User" asp-action="Logout">
            <a class="nav-link text-dark" id="logout_link" onclick="logout()">Logout</a>
        </form>
    </li>
    <script>
        function logout(){
            document.getElementById("logout_link").parentElement.submit();
        }
    </script>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Login</a>
    </li>
}
