<environment include="Development">
    <details>
        <summary>Claim</summary>
        @if (User.Identity.IsAuthenticated)
        {
            foreach (var claim in User.Claims)
            {
                <p>@($"{claim.Type} - {claim.Value}")</p>
            }
        }
    </details>
    <a asp-action="Bad" asp-controller="Home">ERROR</a>
    <a asp-action="LogoutLogin" asp-controller="User">LogoutLogin</a>
</environment>
