<li class="nav-item">
    <a class="nav-link" asp-action="GetTag" asp-controller="Tag">Теги</a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-action="GetComment" asp-controller="Comment">Комментарии</a>
</li>
@if (User.IsInRole("Admin"))
{
    <li class="nav-item">
        <a class="nav-link" asp-action="GetUser" asp-controller="User">Пользователи</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="GetRoles" asp-controller="User">Роли</a>
    </li>
}
