@model MyBlog.App.ViewModels.Tags.TagEditViewModel
@{
    ViewData["Title"] = "Редактирование тега";
}

<style>
    .wrapper {
        display: flex;
    }

    input, textarea {
        margin-left: 5px;
    }

    textarea{
        resize: none;
    }

    .warning {
        color: red;
        font-size: 12px;
        margin-left: 10px;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js"></script>

<div>
    <h1>Редактирование тега #@Model.Id</h1>

    <form method="post" asp-controller="Tag" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="warning"></div>

        <div class="wrapper">
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name" class="warning"></span>
        </div>

        <button type="submit">Сохранить</button>
    </form>
</div>