@model MyBlog.App.ViewModels.Tags.TagsViewModel
@{
    ViewData["Title"] = "Список тегов";
}

<h3 class="mt-5">Все теги</h3>
<a asp-action="Create" asp-controller="Tag" class="mb-3 text-decoration-none">Добавить тег</a>

<div class="row justify-content-evenly">
    @foreach (var tag in Model.Tags)
    {
        <div class="card m-3 col-8 col-sm-4 col-md-3 col-lg-2">
            <div class="card-body p-1 mb-0">
                <a class="mb-0 link-primary text-decoration-none" href="#">@tag.Name</a>
                <p class="mb-0 form-text font-m75 text-end">@($"Статей по тегу: {@tag.Posts.Count}")</p>
            </div>
        </div>
    }
</div>